<nav>
  <div class="navigation-bar">
    <ul>
      <li class="upload">
        <a href="/upload">
          <i class="fas fa-upload fa-2x"></i>
          <p>Upload</p>
        </a>
      </li>
      <li class="home">
        <a href="/home?">
          <i class="fas fa-home fa-2x"></i>
          <p>Home</p>
        </a>
      </li>
      <li class="profile">
        <a href="/profile">
          <i class="fas fa-user-alt fa-2x"></i>
          <p>Profile</p>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="logout">
  <a href="/logout">
    <i class="fas fa-sign-out-alt fa-2x"></i>
    <p>logout</p>
  </a>
</div>
