<nav>
  <div class="navigation-bar">
    <ul>
      <li class="upload">
        <a href="/upload">
          <img src="/" alt="" />
          <p>Upload</p>
        </a>
      </li>
      <li class="home">
        <a href="/home?">
          <img src="/" alt="" />
          <p>Home</p>
        </a>
      </li>
      <li class="profile">
        <a href="/profile">
          <img src="/" alt="" />
          <p>Profile</p>
        </a>
      </li>

    </ul>
  </div>
</nav>
<div class="logout">
  <a href="/logout">logout</a>
</div>
