<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('partials/styling') %>
  </head>
  <body>
    <div class="change-user">
      <h1>Change Username</h1>
      <% if(error) { %>
      <h2><p>error</p></h2>
      <% } %>
    </div>
    <div class="change-user-form">
      <form action="changeUsername" method="post">
        <label for="username">Old Username</label><br />
        <input
          name="username"
          type="text"
          id="username"
          placeholder="enter username"
        />
        <br />
        <label for="newUser"> New Username</label><br />
        <input
          name="newUser"
          type="text"
          id="newUser"
          placeholder="enter new username"
        />
        <br />
        <button type="submit">Change Username</button>
        <button onclick="location.href='/profile'" type="button">Cancel</button>

        <!-- <a href="/home" role="button">Cancel</a> -->
      </form>
    </div>
    <%- include('partials/navbar') %>
  </body>
</html>
