<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <%- include('partials/styling') %>
  </head>
  <body>
    <div class="images">
      <% images.forEach(image => { %>
      <div class="image">
        <a href="/gallery/image/<%=image.id%>">
          <% console.log(image.url) %>
          <img class="imgThumbnail" width="200px" height="200px" src="<%=image.url%>" />
        </a>
      </div>
      <% }) %>
    </div>
    <%- include('partials/navbar') %>
  </body>
</html>
