<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/styling') %>

</head>
<body>
    <ul>
        <li><a href="/changeUsername"> Change Username </a></li>
        <li><a href="/changePassword"> Change Password </a></li>
        <li><a href="/deleteAccount"> Delete Account </a></li>
    </ul>
</body>
</html>